.header {
  height: 459px;
  background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200 ' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'/%3E%3C/svg%3E");
  background-size: 611px;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 24px 0 30px;
  margin-bottom: 30px;
}

.header_logo {
  /* padding-top: 24px; */
  color: white;
  width: 150px;
  margin: 0 auto 24px;
}

.header_title-container {
  padding-bottom: 256px;
  background: url("../img/burger.svg") bottom/227px no-repeat;
  color: #ffffff;
  text-align: center;
}

.header-title {
  font-weight: 800;
  font-size: 30px;
  line-height: 120%;
  margin-bottom: 16px;
}

.header_title-red {
  color: #ff5c00;
  display: block;
}

.header_appeal {
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: 480px) {
  .header {
    background-size: 1400px;
    padding-bottom: 44px;
    height: 300px;
  }
  .header_container {
    max-width: calc(400px + var(--padding-container) * 2);
  }

  .header_title-container {
    padding-bottom: 0;
    padding-left: 180px;
    text-align: left;
    background-position: left;
    background-size: contain;
    min-height: 190px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 768px) {
  .header {
    background-size: 2540px;
    height: 349px;
  }
  .header_container {
    max-width: calc(562px + var(--padding-container) * 2);
  }
  .header_title-container {
    padding-left: 237px;
    min-height: 229px;
  }
  .header-title {
    font-size: 36px;
    margin-bottom: 26px;
  }
}

@media (min-width: 1024px) {
  .header {
    background-size: 2880px;
    height: 466px;
    padding-bottom: 63px;
    margin-bottom: 40px;
  }
  .header_container {
    max-width: calc(764px + var(--padding-container) * 2);
  }
  .header_title-container {
    padding-top: 46px;
    padding-left: 326px;
    min-height: 326px;
  }
  .header-title {
    font-size: 50px;
    margin-bottom: 52px;
  }
  .header_appeal {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1360px) {
  .header_container {
    max-width: calc(784px + var(--padding-container) * 2);
  }
  .header_title-container {
    padding-left: 346px;
  }
}
